.have-account-signup-block {
	display: flex;
	flex-direction: row;
	font-size: 15px;
	font-weight: 900;
	margin-top: 53px;
	.have-account-title {
		font-weight: 400;
		color: var(--main-grey-color);
		margin-right: 5px;
	}
	.link {
		text-decoration: none;
	}
	.have-account-signup {
		font-weight: 700;
		color: var(--main-red-color);
		text-decoration: none;
	}
}
.or-login {
	margin-top: 15px;
	margin-bottom: 10px;
}