.users-header {
	background: url("../images/search-page/panel.jpg");
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.users-list {
	width: 350px;
	height: 470px;
	overflow: auto;
	margin-top: 30px;
	.user-wrapper {
		border: 2px deeppink solid;
		margin-bottom: 10px;
		width: 330px;
		height: 70px;
		display: flex;
		align-items: center;
		border-radius: 20px;
		.user-avatar {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			border: 2px var(--main-font-color) solid;
			margin-left: 20px;
		}
		.user-info {
			margin-left: 30px;
			.user-email {
				font-size: 13px;
				color: var(--main-font-color);
			}
		}
	}
}

.search-image {
	margin-bottom: 110px;
	margin-top: 10px;
}
