.group-name-contacts {
	color: var(--main-font-color);
	font-size: 25px;
	font-weight: 700;
	margin-left: 20px;
	margin-right: 20px;
}
.group-name-members {
	color: var(--main-font-color);
	font-size: 25px;
	font-weight: 700;
	margin-left: 80px;
	margin-right: 20px;
}
.group-members {
	text-align: center;
	margin-top: 10px;
	color: var(--main-font-color);
	font-size: 18px;
	font-weight: 700;
}