.contacts-list {
	width: 370px;
	height: 650px;
	overflow: auto;
	margin-top: 5px;
	border: 7px var(--main-yellow-color) solid;
	border-radius: 10px;
}
.user-email {
	width: 100px;
	height: 30px;
}

.contacts-panel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 380px;
	.link-left {
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		border: 2px deeppink solid;
		border-radius: 10px;
		margin-top: 30px;
		margin-bottom: 30px;
		background: url("../images/new-back.jpeg") center center/cover no-repeat;
	}
	.link-right {
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		border: 2px deeppink solid;
		border-radius: 10px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.my-groups-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100px;
		height: 30px;
		border: 2px deeppink solid;
		border-radius: 10px;
		padding-right: 5px;
		.my-groups-title {
			font-size: 12px;
			color: var(--main-font-color);
			font-weight: 700;
			margin-left: 10px;
		}
	}
}
.channel-unlocked-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.image-block {
	width: 20px;
	height: 20px;
	position: absolute;
	left: 300px;
	top: 35px;
}
.user-info-unlocked {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.user-info-blocked {
	display: flex;
	justify-content: center;
	align-items: center;
	.user-blocked-image {
		width: 100px;
		height: 55px;
		border: 1px deeppink solid;
		border-radius: 25px;
		margin-left: 10px;
		margin-right: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		img {
			width: 73px;
			height: 50px;
		}
	}
	.blocked-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		.blocked-info-title {
			font-size: 12px;
			color: var(--main-font-color);
			font-weight: 700;
			margin-left: 10px;
		}
	}
}
.pin-icon {
	width: 20px;
	height: 20px;
	position: absolute;
	left: 300px;
	top: -5px;
}
.pin-icon-blocked {
	width: 20px;
	height: 20px;
	position: absolute;
	right: -45px;
	top: -10px;
}
.channel-pin-icon {
	width: 20px;
	height: 20px;
	position: absolute;
	right: -96px;
	top: -10px;
}
.channel-pin-icon-blocked {
	width: 20px;
	height: 20px;
	position: absolute;
	right: -40px;
	top: -15px;
}
.group-info {
	display: flex;
	justify-content: space-between;
	width: 251px;
	margin-left: 10px;
	.pin-group-icon {
		width: 20px;
		height: 20px;
	}
}
