.channel-message {
	display: flex;
	align-items: center;
}
.favourites-icon {
	width: 20px;
	height: 20px;
	color: deeppink;
	position: absolute;
	bottom: 2px;
	left: 40px;
}
.like-icon {
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 2px;
	left: 12px;
}