.icons-wrapper {
	width: 80px;
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	right: 10px;
}
.image-block-channel {
	width: 30px;
	height: 30px;
}