.content-messages {
	margin: 0 auto;
	max-width: 390px;
	height: 844px;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	background-color: #dfe8db;
	position: relative;
}
.message-list {
	display: flex;
	flex-direction: column;
	width: 350px;
	height: 400px;
	overflow: auto;
	margin-top: 30px;
	.message-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin-bottom: 10px;
		width: 230px;
		min-height: 10px;
		border-radius: 20px;
		padding-top: 18px;
		padding-bottom: 12px;
		position: relative;
		.message-text {
			color: var(--main-font-color);
			font-weight: bold;
			margin-left: 15px;
			margin-bottom: 8px;
		}
		.message-time {
			color: gray;
			position: absolute;
			right: 8px;
			bottom: 2px;
			font-size: 12px;
		}
	}
}
.send-input-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	.send-btn {
		background: var(--main-green-color);
		border: none;
		border-radius: 10px;
		width: 38px;
		height: 38px;
		cursor: pointer;
		margin-left: 5px;
	}
}
.media-wrapper {
	display: flex;
	justify-content: flex-start;
	width: 300px;
	margin-top: 10px;
}
.fileload {
	display: flex;
	justify-content: flex-start;
	width: 300px;
	margin-top: 10px;
	.file-load-block {
		position: relative;
		.input-label {
			width: 30px;
			position: absolute;
			left: 5px;
		}
	}
	.input-btn {
		margin-left: 45px;
		height: 30px;
		width: 80px;
		background-color: #E0FFFF;
		border: none;
		cursor: pointer;
		transition: 0.5s all;
		font-size: 12px;
		font-weight: 700;
		line-height: 32px;
		text-align: center;
		border-radius: 20px;
		color: var(--main-font-color);
		&:hover {
			box-shadow: 7px -7px 17px var(--dark-red-color);
			border: none;
		}
	}
}
.image-large {
	width: 390px;
	height: 844px;
	background-color: #039be5;
	position: absolute;
	z-index: 3;
}
