//colors
:root {
	--main-font-color: #4B0082;
	--main-red-color: #E94040;
	--dark-red-color: #af532d;
	--main-white-color: #ffff;
	--main-green-color: #86cc18;
}
body {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	line-height: 1;
	height: 844px;
	font-family: AnjaliOldLipi;
	position: relative;

}
.content {
	margin: 0 auto;
	background: url("./images/back.jpg") center center/cover no-repeat;
	max-width: 390px;
	height: 844px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.project-header {
	color: var(--main-font-color);
	font-size: 50px;
	font-weight: 900;
}

.project-main {
	color: var(--main-font-color);
	font-size: 20px;
	font-weight: 700;
}
.btn {
	height: 60px;
	border-radius: 100px;
	font-family: "Roboto Thin";
	background-color: var(--main-red-color);
	border: none;
	cursor: pointer;
	transition: 0.5s all;
	font-size: 16px;
	font-weight: 900;
	line-height: 32px;
	text-align: center;
	color: var(--main-white-color);
	&:hover {
		box-shadow: 7px -7px 17px var(--dark-red-color);
		border: none;
	}
}
.btn-295 {
	width: 295px;
	position: absolute;
	bottom: 30px;
}

.btn-28 {
	width: 28px;
	height: 28px;
	border-radius: 8px;
}

.phone-btn {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 40px;
	width: 150px;
	border-radius: 100px;
	font-family: "Roboto Thin";
	background-color: lightgoldenrodyellow;
	color: var(--main-font-color);
	border: none;
	cursor: pointer;
	transition: 0.5s all;
	font-size: 14px;
	font-weight: 900;
	&:hover {
		box-shadow: 7px -7px 17px var(--main-red-color);
		border: none;
	}


}

.input-log {
	width: 285px;
	border-radius: 100px;
	border: 1px var(--main-grey-color) solid;
	background: lightgoldenrodyellow;
	color: var(--main-font-color);
	font-weight: 900;
	padding-left: 15px;
}
.input-log:focus-visible{
	border: 3px solid var(--main-element-color);
	border: 3px solid var(--main-green-color);
	outline: none;
}

.width-295 {
	width: 295px;
}

.height-67 {
	height: 67px;
}

.height-58 {
	height: 58px;
}
.link-panel {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	border: 2px green solid;
	border-radius: 10px;
	margin-top: 30px;
	margin-left: -325px;
	margin-bottom: 30px;
}
.password-wrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
}
.password-image {
	display: flex;
	margin-left: -50px;
	margin-top: 10px;
}
.project-description {
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	color: var(--main-font-color);
}
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--dark-red-color);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--main-green-color);

}
