//colors
:root {
	--main-font-color: #4B0082;
	--main-red-color: #E94040;
	--dark-red-color: #af532d;
	--main-white-color: #ffff;
}
body {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	line-height: 1;
	height: 844px;
	font-family: AnjaliOldLipi;
	position: relative;

}
.content {
	margin: 0 auto;
	background: url("./images/back.jpg") center center/cover no-repeat;
	max-width: 390px;
	height: 844px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.project-header {
	color: var(--main-font-color);
	font-size: 50px;
	font-weight: 900;
}

.project-main {
	color: var(--main-font-color);
	font-size: 20px;
	font-weight: 700;
}
.btn {
	height: 60px;
	border-radius: 100px;
	font-family: "Roboto Thin";
	background-color: var(--main-red-color);
	border: none;
	cursor: pointer;
	transition: 0.5s all;
	font-size: 16px;
	font-weight: 900;
	line-height: 32px;
	text-align: center;
	color: var(--main-white-color);
	&:hover {
		box-shadow: 7px -7px 17px var(--dark-red-color);
		border: none;
	}
}
.btn-295 {
	width: 295px;
	position: absolute;
	bottom: 30px;

}
